[submodule "dot_files/vim/bundle/pathogen"]
	path = dot_files/vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "dot_files/vim/bundle/neocomplcache"]
	path = dot_files/vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "dot_files/vim/bundle/nerdtree"]
	path = dot_files/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "dot_files/vim/bundle/togglemouse"]
	path = dot_files/vim/bundle/togglemouse
	url = git://github.com/seanochoa/vim-togglemouse.git
[submodule "dot_files/vim/bundle/sudo"]
	path = dot_files/vim/bundle/sudo
	url = git://github.com/seanochoa/sudo.vim.git
[submodule "dot_files/vim/bundle/taglist"]
	path = dot_files/vim/bundle/taglist
	url = git://github.com/seanochoa/taglist.vim.git
[submodule "dot_files/vim/bundle/autotags"]
	path = dot_files/vim/bundle/autotags
	url = git://github.com/vim-scripts/autotags.git
[submodule "downloads/astyle"]
	path = downloads/astyle
	url = git@github.com:seanochoa/astyle-mirror.git
