function mcc_clean_all() {
    for target in {testhost,testhost32}; do 
        clean_target_itcm_node ${target}
    done;
}

alias mcc.clean_all="_clean_all"

function mcc_deploy(){
    clean_all
    itcm-deploy-all -t $1
    itcm-start-all -t $1
    itcm-status -t $1
}
alias mcc.deploy="_deploy"

