# Reset
COLOR_OFF='\e[0m'       # Text Reset

# Regular Colors
BLACK='\e[0;30m'        # Black
RED='\e[0;31m'          # Red
GREEN='\e[0;32m'        # Green
YELLOW='\e[0;33m'       # Yellow
BLUE='\e[0;34m'         # Blue
PURPLE='\e[0;35m'       # Purple
CYAN='\e[0;36m'         # Cyan
WHITE='\e[0;37m'        # White
GRAY='\e[0;30m'         # Gray

# Bold
BLACK_BOLD='\e[1;30m'       # Black
RED_BOLD='\e[1;31m'         # Red
GREEN_BOLD='\e[1;32m'       # Green
YELLOW_BOLD='\e[1;33m'      # Yellow
BLUE_BOLD='\e[1;34m'        # Blue
PURPLE_BOLD='\e[1;35m'      # Purple
CYAN_BOLD='\e[1;36m'        # Cyan
WHITE_BOLD='\e[1;37m'       # White

# Underline
BLACK_UNDERLINE='\e[4;30m'       # Black
RED_UNDERLINE='\e[4;31m'         # Red
GREEN_UNDERLINE='\e[4;32m'       # Green
YELLOW_UNDERLINE='\e[4;33m'      # Yellow
BLUE_UNDERLINE='\e[4;34m'        # Blue
PURPLE_UNDERLINE='\e[4;35m'      # Purple
CYAN_UNDERLINE='\e[4;36m'        # Cyan
WHITE_UNDERLINE='\e[4;37m'       # White

# Background
BLACK_BG='\e[40m'       # Black
RED_BG='\e[41m'         # Red
GREEN_BG='\e[42m'       # Green
YELLOW_BG='\e[43m'      # Yellow
BLUE_BG='\e[44m'        # Blue
PURPLE_BG='\e[45m'      # Purple
CYAN_BG='\e[46m'        # Cyan
WHITE_BG='\e[47m'       # White

# High Intensity
BLACK_HIGH_INTENSITY='\e[0;90m'       # Black
RED_HIGH_INTENSITY='\e[0;91m'         # Red
GREEN_HIGH_INTENSITY='\e[0;92m'       # Green
YELLOW_HIGH_INTENSITY='\e[0;93m'      # Yellow
BLUE_HIGH_INTENSITY='\e[0;94m'        # Blue
PURPLE_HIGH_INTENSITY='\e[0;95m'      # Purple
CYAN_HIGH_INTENSITY='\e[0;96m'        # Cyan
WHITE_HIGH_INTENSITY='\e[0;97m'       # White

# Bold High Intensity
BLACK_BOLD_HIGH_INTENSITY='\e[1;90m'      # Black
RED_BOLD_HIGH_INTENSITY='\e[1;91m'        # Red
GREEN_BOLD_HIGH_INTENSITY='\e[1;92m'      # Green
YELLOW_BOLD_HIGH_INTENSITY='\e[1;93m'     # Yellow
BLUE_BOLD_HIGH_INTENSITY='\e[1;94m'       # Blue
PURPLE_BOLD_HIGH_INTENSITY='\e[1;95m'     # Purple
CYAN_BOLD_HIGH_INTENSITY='\e[1;96m'       # Cyan
WHITE_BOLD_HIGH_INTENSITY='\e[1;97m'      # White

# High Intensity backgrounds
BLACK_HIGH_INTENSITY_BG='\e[0;100m'   # Black
RED_HIGH_INTENSITY_BG='\e[0;101m'     # Red
GREEN_HIGH_INTENSITY_BG='\e[0;102m'   # Green
YELLOW_HIGH_INTENSITY_BG='\e[0;103m'  # Yellow
BLUE_HIGH_INTENSITY_BG='\e[0;104m'    # Blue
PURPLE_HIGH_INTENSITY_BG='\e[0;105m'  # Purple
CYAN_HIGH_INTENSITY_BG='\e[0;106m'    # Cyan
WHITE_HIGH_INTENSITY_BG='\e[0;107m'   # White
