
export HISTCONTROL="ignoredups:erasedups,ignoreboth"   
export HISTTIMEFORMAT="%s "                            
shopt -s histappend                                    
                                                       
function _custom_history(){                            
                                                       
    # Append the new history lines (history lines      
    # entered since the beginning of the current       
    # Bash session) to the history file.               
    history -a                                         
                                                       
    # Clear the history list. This may be combined with
    # the other options to replace the history list    
    # completely.                                      
    history -c                                         
                                                       
    # Read the current history file and append         
    # its contents to the history list.                
    history -r                                         
}                                                      

export PROMPT_COMMAND="_custom_history; ${PROMPT_COMMAND}" 
