function _fast_grep() {                               
    set -x                                            
    find . -type f -print0 | \                        
        xargs -0 \                                    
              -P $(grep -c ^processor /proc/cpuinfo) \
              -n 40 \                                 
              grep --color=always -nEIH ${@}          
    set +x                                            
}                                                     
alias fast_grep='_fast_grep'                                  
