bind '"\eOC":forward-word'
bind '"\eOD":backward-word'

export GIT_PS1_SHOWDIRTYSTATE=1

function prompt_command () {
    history -a
    local last_command_return_code=$?
    local last_command="$(fc -nl -1 | sed 's/^\s*//g' | sed 's/\s*$//g')"

    local LIGHT_BLUE="\[\033[1;34m\]"
    local LIGHT_GREEN="\[\033[1;32m\]"
    local LIGHT_YELLOW="\[\033[1;33m\]"
    local LIGHT_RED="\[\033[1;31m\]"
    local WHITE="\[\033[1;37m\]"
    local RESET="\[\033[0m\]"

    local USER=""
    local TMUX=""
    local HOST=""

    if [[ $TERM != "screen-256color" ]]; then
        TMUX="${LIGHT_YELLOW}(tmux not running)${RESET}\n"
    fi
    local LAST_CMD_ALERT=""
    if [[ "$last_command_return_code" != "0" ]]; then
        LAST_CMD_ALERT="${LIGHT_RED}$last_command_return_code${RESET}"
    else
        LAST_CMD_ALERT="$last_command_return_code"
    fi
    script_dir="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
    load="$(/bin/bash "$script_dir/load.ps1.rc" 2>/dev/null)"

    if which rvm &>/dev/null ; then 
        RVM="$(rvm-prompt | sed 's/ruby-/ruby: /g' | sed 's/@/, gem-set: /g')"
    fi

    PS1="\n"
    PS1+="[rc: ${LAST_CMD_ALERT}] "
    PS1+="[${LIGHT_BLUE}\u${RESET} ${LIGHT_GREEN}\h${RESET}] "
    PS1+="$(__git_ps1 "[git:%s]")\n"
    PS1+="  => $(pwd)\n > "

    echo -en &>/dev/null
}

export PROMPT_COMMAND="prompt_command"
